/* globals.css */

/* Déclaration des polices personnalisées */
@font-face {
  font-family: 'Geist Sans';
  src: url('./fonts/GeistVF.woff') format('woff');
  font-weight: 100 900; /* Définir les poids de police */
  font-style: normal; /* Ajouter style normal */
}

@font-face {
  font-family: 'Geist Mono';
  src: url('./fonts/GeistMonoVF.woff') format('woff');
  font-weight: 100 900; /* Définir les poids de police */
  font-style: normal; /* Ajouter style normal */
}

/* Classes pour utiliser les polices */
.font-geist-sans {
  font-family: 'Geist Sans', sans-serif; /* Polices de secours si Geist Sans n'est pas disponible */
}

.font-geist-mono {
  font-family: 'Geist Mono', monospace; /* Polices de secours si Geist Mono n'est pas disponible */
}

/* Styles globaux */
body {
  margin: 0; /* Réinitialiser les marges par défaut */
  padding: 0; /* Réinitialiser le remplissage par défaut */
  line-height: 1.5; /* Meilleure lisibilité du texte */
  font-size: 16px; /* Taille de police par défaut */
  background-color: #f9f9f9; /* Couleur d'arrière-plan par défaut */
}

.antialiased {
  -webkit-font-smoothing: antialiased; /* Améliorer le lissage des polices pour WebKit */
  -moz-osx-font-smoothing: grayscale; /* Améliorer le lissage des polices pour Firefox sur macOS */
}
